/* Basic Elements */

table {
    font-family: 'Ubuntu', sans-serif;
    margin: 1em auto;
    width: 80%;
}

table, table caption {
    box-shadow: 6px 8px 13px 1px rgba(98,140,166,0.9);
}

th,
td {
    text-align: center;
}

table,
th,
td {
    border: 2px solid #bbb;
    border-collapse: collapse;
}

table caption {
    color: black;
    background-color: #7fb9c2;
    font-size: 2em;
    font-weight: bold;
    padding: 0.2em 0.5em;
}

thead tr {
    color: white;
    background-color: #628ca6;
    font-size: 1.5em;
}

thead th {
    padding: 0.2em 0.5em;
}

tbody tr {
    background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(5) td:first-child {
    font-style: italic;
}

.failedtarget {
    color: white;
    background-color: #628ca6;
    font-size: 24px;
}

tbody td,
tfoot td {
    padding: 0.4em 0.2em;
}

tbody td {
    font-size: 1.2em;
}

tfoot td {
    font-size: 0.9em;
    background-color: #7fb9c2;
}

